Remote Control & Sensory Feedback/Node RED JSON Configuration.json
[
    {
        "id": "fd413f45731db109",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9af509cf0adbdda6",
        "type": "mqtt out",
        "z": "fd413f45731db109",
        "name": "Forward Left/Right Motor",
        "topic": "esp32/forward",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "a8ef04cd9a163d68",
        "type": "mqtt out",
        "z": "fd413f45731db109",
        "name": "Servo Angle",
        "topic": "esp32/servo/steering",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "ac0eb490c7070cbd",
        "type": "ui_slider",
        "z": "fd413f45731db109",
        "name": "",
        "label": "Servo Slider",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-180",
        "max": "180",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "a8ef04cd9a163d68"
            ]
        ]
    },
    {
        "id": "5b4f3f9be8650f3f",
        "type": "mqtt in",
        "z": "fd413f45731db109",
        "name": "",
        "topic": "Node-RED Monitor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 1040,
        "wires": [
            [
                "25c1e8281df87277",
                "23414714dfd453be"
            ]
        ]
    },
    {
        "id": "25c1e8281df87277",
        "type": "debug",
        "z": "fd413f45731db109",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 980,
        "wires": []
    },
    {
        "id": "23414714dfd453be",
        "type": "ui_toast",
        "z": "fd413f45731db109",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1360,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3854612f050b887a",
        "type": "ui_button",
        "z": "fd413f45731db109",
        "name": "",
        "group": "61285987.c20328",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 100,
        "wires": [
            [
                "9af509cf0adbdda6"
            ]
        ]
    },
    {
        "id": "4ca94104497ceb41",
        "type": "ui_button",
        "z": "fd413f45731db109",
        "name": "",
        "group": "61285987.c20328",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Backward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 200,
        "wires": [
            [
                "588388a88fa90dc9"
            ]
        ]
    },
    {
        "id": "6ec0a548d5497be9",
        "type": "mqtt out",
        "z": "fd413f45731db109",
        "name": "Stop",
        "topic": "esp32/motor/stop",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1350,
        "y": 120,
        "wires": []
    },
    {
        "id": "fb2a5bba6f86e969",
        "type": "ui_button",
        "z": "fd413f45731db109",
        "name": "",
        "group": "61285987.c20328",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop  Motor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1170,
        "y": 60,
        "wires": [
            [
                "6ec0a548d5497be9"
            ]
        ]
    },
    {
        "id": "c4944376332046a7",
        "type": "debug",
        "z": "fd413f45731db109",
        "name": "Closest Obstruction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 720,
        "wires": []
    },
    {
        "id": "382608749e31cc4a",
        "type": "mqtt in",
        "z": "fd413f45731db109",
        "name": "Closest Obstruction",
        "topic": "esp32/obstruction",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1170,
        "y": 760,
        "wires": [
            [
                "c4944376332046a7",
                "e0173081e2100ebe",
                "52cc1b5d7899b13d"
            ]
        ]
    },
    {
        "id": "e0173081e2100ebe",
        "type": "ui_gauge",
        "z": "fd413f45731db109",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance (m)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 1390,
        "y": 780,
        "wires": []
    },
    {
        "id": "588388a88fa90dc9",
        "type": "mqtt out",
        "z": "fd413f45731db109",
        "name": "Backward Left/Right Motor",
        "topic": "esp32/backwards",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "308f86737d08b383",
        "type": "mqtt out",
        "z": "fd413f45731db109",
        "name": "Turn Left",
        "topic": "esp32/left",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "8a578d8e916ff852",
        "type": "ui_button",
        "z": "fd413f45731db109",
        "name": "",
        "group": "61285987.c20328",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "308f86737d08b383"
            ]
        ]
    },
    {
        "id": "d550245dbf198675",
        "type": "ui_button",
        "z": "fd413f45731db109",
        "name": "",
        "group": "61285987.c20328",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "2a0857ea80c07839"
            ]
        ]
    },
    {
        "id": "2a0857ea80c07839",
        "type": "mqtt out",
        "z": "fd413f45731db109",
        "name": "Turn Right",
        "topic": "esp32/right",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "5e6aba286da6e5cd",
        "type": "mqtt in",
        "z": "fd413f45731db109",
        "name": "Left Motor Monitor",
        "topic": "esp32/leftM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "a1a362e04a6ccc39"
            ]
        ]
    },
    {
        "id": "25dddb8abed40db6",
        "type": "mqtt in",
        "z": "fd413f45731db109",
        "name": "Right Motor Monitor",
        "topic": "esp32/rightM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "33b777c7a1cfd15d"
            ]
        ]
    },
    {
        "id": "f3905d13c269875b",
        "type": "mqtt in",
        "z": "fd413f45731db109",
        "name": "Servo Monitor",
        "topic": "esp32/servoM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 860,
        "wires": [
            [
                "e410b23f82b9f8a2"
            ]
        ]
    },
    {
        "id": "52cc1b5d7899b13d",
        "type": "file",
        "z": "fd413f45731db109",
        "name": "File Creation",
        "filename": "/home/pi/Documents/remoteControl/UltrasonicSensorDatatxt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1390,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "2f15941bba55507f",
        "type": "debug",
        "z": "fd413f45731db109",
        "name": "Z-Axis Orientation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 580,
        "wires": []
    },
    {
        "id": "df4fe0d85807bffc",
        "type": "mqtt in",
        "z": "fd413f45731db109",
        "name": "Orientation",
        "topic": "esp32/ultrasonicSensor/orientation",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 620,
        "wires": [
            [
                "2f15941bba55507f",
                "7899bc2e85caebfe"
            ]
        ]
    },
    {
        "id": "7899bc2e85caebfe",
        "type": "ui_gauge",
        "z": "fd413f45731db109",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Orientation (in degr)",
        "label": "%",
        "format": "{{value}}",
        "min": "-360",
        "max": "360",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 1380,
        "y": 640,
        "wires": []
    },
    {
        "id": "a1a362e04a6ccc39",
        "type": "file",
        "z": "fd413f45731db109",
        "name": "File Creation",
        "filename": "/home/pi/Documents/remoteControl/leftMotorData.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "33b777c7a1cfd15d",
        "type": "file",
        "z": "fd413f45731db109",
        "name": "File Creation",
        "filename": "/home/pi/Documents/remoteControl/leftMotorData.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e410b23f82b9f8a2",
        "type": "file",
        "z": "fd413f45731db109",
        "name": "File Creation",
        "filename": "/home/pi/Documents/remoteControl/leftMotorData.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]
